@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

.section {
    font-family: 'Open Sans', sans-serif;
    max-width: 1170px;
    height: 97vh;
    margin: 0 auto;
    padding: 157px 0px 0px;
}