.header {
    width: 100%;
    position: fixed;
}

.nav {
    margin: 0 auto;
    padding: 0 35px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.ul {
    width: 280px;
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.li {
    list-style: none;
    display: block;
}

.link {
    text-decoration: none;
    color: black;
}