@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

.header {
    width: 100%;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    background-color: #06040c;
}

.nav {
    margin: 0 auto;
    padding: 0 35px;
    max-width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul {
    width: 280px;
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.li {
    list-style: none;
    display: block;
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: white;
}